


.body {
    display: flex;
  }
  
  .textContainer {
    display: flex;
    width: 65%;
    height: 100vh;
    background-color: white;
    align-items: center;
    border-radius: 10px;

  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 55%;
  
  }
  
  .form {
    width: 60%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 3em;
    margin-bottom: 0px;
    font-weight: 400;
  }
  
  .text {
    font-size: 1.4em;
    color: #000000;
    margin-bottom: 5px;
   font-weight: 400;
   margin-top: 5px;


  }
  
  .input {
    width: 65%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .InputTitle{
    line-height: 0;
    font-size: 1.5em;

    font-weight: 500;
    width: 68%;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 15px;
  }
  
  .logContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    width: 70%;
  }
  
  .logIn {
    display: flex;
    align-items: center;
  }

  .logIn h1{
    font-size: 0.8em;

    font-weight: 500;
    margin-right: 10px;
  }
  

  .accountButton {
   background: none;
    border: none;
    color: #ff5a5f;
    cursor: pointer;
    font-size: 18px;

    font-weight: 500;
  }
  
  .logButton {
    width: 50%;
    background-color: #EB2C2B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2vh;
    
  }
  
  .logButton:hover {
    background-color: #e14b4f;
  }
  
  .recImage {
    width: 35%;
    border-radius: 25px 0 0 25px;
    height: 100vh;
    background-image: url('/gradient1.jpeg');
    background-size: 240% auto;
    animation: moveBackground 120s linear infinite;

  }


  
  @keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

