/* styles/Section1.module.css */
.section {
    display: flex;
    flex-direction: column;
   /* background: linear-gradient(to bottom, #ff7e5f, #feb47b); /* Ajusta los colores según tus necesidades */
   background-color: black;
 
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

.gameContainer{
  margin-top: 30px;
  height: 90%;
  width: 80%;
  background-color: aliceblue;
  align-self: center;
  border-radius: 25px;
  background-image: url('/game.png');
  background-size: cover;
  background-position: center;
  border: 3px solid #FF0000;
  box-shadow: 0 0 15px 0 #ff0000;
}

.informationContainer{
  display: flex;
  margin-top: 30px;
  height: 20%;
  width: 100%;
  background-color: #f9f9f9;
  align-self: center;
  justify-content: center;
}

.Recomendations{
  width: 50%;
  background-color: #feb47b;
  display: flex;
  justify-content: center;
}


.Products{
  width: 50%;
  display: flex;
  justify-content: center;
}

