.main {
  padding: 20px;
  height: 100vh;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.header p {
  margin: 0;
  font-size: 16px;
  color: #777;
}

.dashboard {
  display: flex;
  gap: 20px;
  height: 90%;
}

.userCard, .leaderboard, .recommendedProducts {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #FF0000;
  box-shadow: 0 0 5px 0 #ff0000;
  box-sizing: border-box;
  min-width: fit-content;
}


.recommendedProducts{
  height:100%;
  display: flex;
  text-align: center;

}
.leaderboard{
  height: 60%;
}

.userCard {
  display: flex;
  align-items: center;
  height: 40%;
  justify-content: center;
}

.companyLogo {
  width: 140px;
  height: auto;
  margin-right: 20px;
}

.userInfo {
  color: #333;
  margin-left: 5%;
}

.userInfo h3 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 10px;

}

.userInfo p {
  margin: 0;
  font-size: 1.3em;
  text-align: center;
  
}

.leaderboard h3, .recommendedProducts h3 {
  margin-top: 0;
}

.leaderboard h3 { 
  text-align: center;
  font-size: 1.6em;
}

.table {
  width: 100%;
  height: 25%;
  border-collapse: collapse;
  margin-top: 10px;

}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

.table th {
  background-color: #ec2f167f;
}

.table td{
  font-size: 1.1em;
}

.icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.left{


  display: flex;
  flex-direction: column;
  gap: 4%;
}

.right{

  display: flex;
  flex-direction: column;
 

}

.Loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slide {
  display: flex ;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

.recommendedProducts {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.recommendedProducts h3 {
  margin-top: 0;
}

.sliderContainer{
  height: 80vh;
  width: 120vh;

}